@media (min-width: 770px) {
    html {
        background-image: url("/images/site/small_check.jpg");
        background-size: cover;
        padding: 20px;
    }
      
    body {
        width: 90%;
        max-width: 900px;
        background-color: var(--white);
        border: 6px solid var(--primary);
        border-radius: 10px;
    }

    header {
        margin: 30px 10px;
    }
    
    nav {
        margin: 0px 10px;
        border-radius: 5px;
    }

    main {
        margin: 0px 10px;
    }

    h1 {
        text-align: start;
    }

    h2 {
        font-size: 24px;
        text-align: start;
    }
    
    .hero {
        background-image: url("/images/vehicles/delorean.jpg");
        border: 0;
        padding-left: 50px;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 10px;
    }

    article section {
        display: flex;
        flex-direction: column;
    }

    article section:first-of-type {
        order: 2;
    }
    
    article section:last-of-type {
        order: 1;
    }

    .upgrades {
        margin: auto 0;
    }

    .reviews {
        line-height: 40px;
        font-size: 16px;
        margin: auto 0;
    }

    figure {
        width: 160px;
        height: 100px;
    }

    /* Database Items Styles */
    #inv-display li {
        list-style-type: none;
        display: block;
    }
      
    .namePrice {
        text-align: start;
    }

    /* Vehicles Details Styles */
    .vehicle-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        gap: 10px;
    }

    .vehicle-content img {
        width: 48%;
        max-width: 100%;
        height: auto;
        object-fit: contain;
    } 
}

@media (max-width: 480px) {
    nav ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
}